.books-container {
    width: 100%;
    margin: 0;
}

@media screen and (min-width: 768px) {
  .books-container {
    grid-template-columns: repeat(3, minmax(30%, auto));
  }
}

@media screen and (min-width: 1400px) {
  .books-container {
    grid-template-columns: repeat(4, minmax(20%, auto));
  }
}

@media screen and (max-width: 700px) {
  .books-container {
    grid-template-columns: auto;
    width: calc(100% - 4px);
  }
}