.book-card {
    margin: 20px;
    max-width: 400px;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.actions > button {
    width: 80px;
    margin: 10px;
    max-height: 38px;
}

.card-title {
    min-height: 48px;
}